<h2>Create</h2>
<form class="form-horizontal" name="frmAddProduct" ng-submit="createProduct(product)" novalidate>
    <h4>Create a new product</h4>
    <hr />

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="name" ng-model="product.Name" ng-maxlength="32" required />
            <span ng-show="frmEditProduct.name.$touched && frmEditProduct.name.$invalid">The name is required.</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Sku</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="Sku" ng-model="product.Sku" ng-maxlength="50" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
            <textarea rows="4" cols="6" class="form-control" ng-model="product.Description">
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Price</label>
        <div class="col-lg-10">
            <input type="number" class="form-control" name="price" ng-model="product.Price" ng-maxlength="50" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success"  ng-disabled="frmAddProduct.$invalid" value="Create" />
            <a href="#/" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
